{% load crispy_forms_filters %}
{% load flowbite_filters flowbite_field %}
{% load l10n %}

<div class="relative">
    <select class="{{ field|flowbite_field_class }}{% if field.errors %} border-red-500{% endif %}" name="{{ field.html_name }}" {{ field|build_attrs }}>
        {% for group, options, index in field|optgroups %}
            {% if group %}<optgroup label="{{ group }}">{% endif %}
            {% for option in options %}
                {% include "flowbite/layout/select_option.html" %}
            {% endfor %}
            {% if group %}</optgroup>{% endif %}
        {% endfor %}
    </select>
</div>
