<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="
    {% if wrapper_class %}{{ wrapper_class }} {% endif %}{{ field_class }} field-wrapper toggle-wrapper">
  <label class="flex justify-between items-center cursor-pointer {{ wrapper_class|default:"" }}">
    <div>
      <div class="toggle-label">{{ field.label }}</div>
      {% include 'flowbite/layout/help_text.html' %}
    </div>
    <div>
      <input type="checkbox" id="div_{{ field.auto_id }}" value="{{ input.value }}" {% if field.value %}checked{% endif %} class="sr-only peer">
      <div class="toggle

          {{ field.css_classes|default:"relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600" }}"></div>
    </div>
  </label>
</div>
