{% load flowbite_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {# Opening Div and Label first #}

    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="{% if wrapper_class %}{{ wrapper_class }} {% endif %}{{ field_class }} field-wrapper">
    {% if field.label and form_show_labels %}
        <label for="{{ field.id_for_label }}" class="{{ label_class }}">
            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}

    {# if field has a special template then use this #}
    {% if field|is_select %}
        <div class="{{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
            {% include 'flowbite/layout/select.html' %}
        </div>
    {% elif field|is_checkboxselectmultiple %}
        <div class="{{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
            {% include 'flowbite/layout/checkboxselectmultiple.html' %}
        </div>
    {% elif field|is_radioselect %}
        <div class="{{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
            {% include 'flowbite/layout/radioselect.html' %}
        </div>
    {% else %}
        {# otherwise use django rendering with additional classes added #}
        {% flowbite_field field %}
    {% endif %}

    {% include 'flowbite/layout/help_text_and_errors.html' %}

    </{% if tag %}{{ tag }}{% else %}div{% endif %}>

{% endif %}
